body{
    font-family: 'Road Rage', cursive;
    font-style: italic;
    font-weight: bolder;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("https://static.xtrawine.com/Global/Images/XW/wine-zones/104_TrinidadTobago_3.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    margin: 8px;
}
section{
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    grid-template-rows: repeat(2, 8rem);
    grid-gap: 1rem;
    perspective: 800px;
}

h1{
font-size: 45px;
color: rgb(250, 206, 72);
font-weight: bold;
text-align: left;
position: relative;
}

p{
font-size: 2em;
word-spacing: 0.4em;
color: rgb(108, 111, 133);
text-align: right;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

h3{
color: rgb(177, 111, 105);
font-weight: bold;
font-size: 25px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}


.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.face,
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.back{
    background: rgb(177, 111, 105);
    backface-visibility: hidden;
}
.toggleCard{
    transform: rotateY(180deg);
}
.face{
    transform: rotateY(-180deg);
}



footer{
    display: block;
}
.wrapper{
    width: 100%;
    z-index: 1;
    background-color: transparent;
    margin-top: 0%;
    font-size: 30px;
}
.wrapper ul{
display: flex;
justify-content: center;
height: 50px;
}
.wrapper ul li{
    display: inline-block;
    padding: 40px 15px;
    justify-content: center;
}