html{
    background-image: url("https://media.istockphoto.com/photos/port-of-spain-in-trinidad-and-tobago-picture-id465302010?k=20&m=465302010&s=612x612&w=0&h=g0uYzjnOAgTSvZ9G3SsCsuwr-80P6qQYHK60BLicKfs=");
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
}


body{
    font-family: 'Road Rage', cursive;
    font-style: italic;
    font-weight: bolder;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 6px;
}
section{
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    grid-template-rows: repeat(2, 8rem);
    grid-gap: 1rem;
    perspective: 800px;
}

h1{
font-size: 50px;
color: rgb(206, 177, 173);
font-weight: bold;
text-align: end;
position: relative;
}

p{
font-size: 2em;
word-spacing: 0.2em;
color: rgb(163, 83, 59);
text-align: right;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

h3{
color: rgb(163, 83, 59);
font-weight: bold;
font-size: 2em;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}


.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.face,
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.back{
    background: rgb(35, 60, 54);
    backface-visibility: hidden;
}
.toggleCard{
    transform: rotateY(180deg);
}
.face{
    transform: rotateY(-180deg);
}



footer{
    display: block;
}
.wrapper{
    width: 100%;
    z-index: 1;
    background-color: transparent;
    margin: 0%;
    font-size: 30px;
}
.wrapper ul{
display: flex;
justify-content: center;
height: 50px;
}
.wrapper ul li{
    display: inline-block;
    padding: 40px 15px;
    justify-content: center;
}