body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background: rgb(188,143,143);
    background: linear-gradient(to left, rgb(250, 250, 210), rgb(188, 143, 143));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    display: grid;
    grid-template-columns: repeat(4, 7rem);
    grid-template-rows: repeat(2, 7rem);
    grid-gap: 1rem;
    perspective: 800px;
}




.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
   
}
.face,
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.back{
    background: rgb(255,228,181);
    backface-visibility: hidden;
}
.toggleCard{
    transform: rotateY(180deg);
}
.face{
    transform: rotateY(-180deg);
}




.wrapper{
    width: 100%;
    z-index: 1;
    background-color: transparent;
    margin-top: 0%;
}
.wrapper ul{
display: flex;
justify-content: center;
height: 50px;
}
.wrapper ul li{
    display: inline-block;
    padding: 40px 15px;
    justify-content: center;
}